# Python standard junk
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDE and OS garbage
.vscode/
.idea/
.DS_Store

# GFS MVP Runtime Artifacts (Crucial!)
# Prevents committing your simulated local disks and operational logs
_data/
master/gfs_master.log
master/metadata.log
chunkserver/chunk_storage_*/

# Ignore root-level gRPC generated stubs used for host testing
/gfs_pb2.py
/gfs_pb2_grpc.py
/gfs_pb2.pyi